@model TiendaDeportiva.Entities.UsuarioObj

@{
    ViewData["Title"] = "EditarUsuario";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @*<h1>General Form</h1>*@
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Editar Usuario</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="offset-4 container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="">
                        <div class="card-header">
                            <h3 class="card-title">Editar Rol</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        @using (Html.BeginForm("EditarUsuario", "Usuario", FormMethod.Post))
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="">Cedula @Model.Cedula</label>
                                    @Html.HiddenFor(m => m.Cedula)
                                </div>
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    @Html.TextBoxFor(m => m.Nombre, new{ @class="form-control", @placeholder="Nombre" })
                                </div>
                                <div class="form-group">
                                    <label for="">Apellidos</label>
                                    @Html.TextBoxFor(m => m.Apellidos, new{ @class="form-control", @placeholder="Apellidos" })
                                </div>
                                <div class="form-group">
                                    <label for="">Correo</label>
                                    @Html.TextBoxFor(m => m.Correo, new{ @class="form-control", @placeholder="Correo" })
                                </div>
                                <div class="form-group">
                                    <label for="">Contraseña</label>
                                    @Html.TextBoxFor(m => m.Contrasenna, new{ @class="form-control", @placeholder="Contraseña" })
                                </div>
                                <div class="form-group">
                                    <label for="">Activo</label>
                                    @Html.TextBoxFor(m => m.Activo, new{ @class="form-control", @placeholder="Activo" })
                                </div>
                                <div class="form-group">
                                    <label for="">ID Rol</label>
                                    @Html.TextBoxFor(m => m.IdRol, new{ @class="form-control", @placeholder="Rol" })
                                </div>
                                <div class="pt-3">
                                    <a href="@Url.Action("Index","Usuario")" class="btn btn-danger pr-3" type="button"><i class="fa-solid fa-arrow-left"></i></a>
                                    <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<!-- /.content -->