@model IEnumerable<TiendaDeportiva.Entities.UsuarioObj>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_LayoutDatatables.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Usuarios</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Usuarios</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Tabla de Usuarios</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="pb-2">
                                <a href="@Url.Action("Register","Usuario", new {})" class="btn btn-success ml-auto" type="button" value=""><i class="fa-solid fa-plus"></i></a>
                            </div>
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Estado</th>
                                        <th>Rol</th>
                                        <th>Token</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Cedula
                                                </td>
                                                <td>
                                                    @item.Nombre
                                                </td>
                                                <td>
                                                    @item.Apellidos
                                                </td>
                                                <td>
                                                    @item.Correo
                                                </td >
                                                <td>
                                                    @item.Activo
                                                </td>
                                                <td>
                                                    @item.IdRol
                                                </td>
                                                <td>
                                                    @item.Token
                                                </td>
                                                <td class="col-1">
                                                    <div class="text-center">
                                                        <a href="@Url.Action("EditarUsuario","Usuario", new { ID = item.Cedula })" class="text-warning" type="" value=""><i class="fa-solid fa-pen"></i></a>
                                                        <a href="@Url.Action("Delete","Usuario", new { ID = item.Cedula })" class="text-danger pl-4" type="" value=""><i class="fa-solid fa-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr class="text-center">
                                            <td colspan="8">Sin Datos</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
