@model TiendaDeportiva.Entities.VentasObj

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @*<h1>General Form</h1>*@
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Crear Ventas</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="offset-4 container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="">
                        <div class="card-header">
                            <h3 class="card-title">Editar Ventas</h3>
                        </div>
                        @using (Html.BeginForm("Edit", "Ventas", FormMethod.Post))
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label for="">ID Ventas @Model.IdVenta</label>
                                @Html.HiddenFor(m => m.IdVenta)
                            </div>
                            <div class="form-group">
                                <label for="">Cedula</label>
                                @Html.TextBoxFor(m => m.Cedula, new{ @class="form-control", @placeholder="Cedula" })
                            </div>
                            <div class="form-group">
                                <label for="">Producto</label>
                                @Html.TextBoxFor(m => m.Producto, new{ @class="form-control", @placeholder="Producto" })
                            </div>
                            <div class="form-group">
                                <label for="">Precio</label>
                                @Html.TextBoxFor(m => m.Precio, new{ @class="form-control", @placeholder="Precio" })
                            </div>
                            <div class="form-group">
                                <label for="">Cantidad</label>
                                @Html.TextBoxFor(m => m.Cantidad, new{ @class="form-control", @placeholder="Cantidad" })
                            </div>
                            <div class="form-group">
                                <label for="">Descripcion</label>
                                @Html.TextBoxFor(m => m.Descripcion, new{ @class="form-control", @placeholder="Descripcion" })
                            </div>

                            <div class="pt-3">
                                <a href="@Url.Action("Index","Ventas")" class="btn btn-danger pr-3" type="button"><i class="fa-solid fa-arrow-left"></i></a>
                                <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>