@model TiendaDeportiva.Entities.ProductosObj

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    @*<h1>General Form</h1>*@
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Crear Producto</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="offset-4 container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-4">
                    <!-- general form elements -->
                    <div class="">
                        <div class="card-header">
                            <h3 class="card-title">Crear Producto</h3>
                        </div>
                        @using (Html.BeginForm("edit", "Productos", FormMethod.Post))
                        {
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="">ID Producto @Model.IdProducto </label>
                                    @Html.HiddenFor(m => m.IdProducto)
                                </div>
                                <div class="form-group">
                                    <label for="">Nombre</label>
                                    @Html.TextBoxFor(m => m.Nombre, new{ @class="form-control", @placeholder="Nombre" })
                                </div>
                                <div class="form-group">
                                    <label for="">Descripcion</label>
                                    @Html.TextBoxFor(m => m.Descripcion, new{ @class="form-control", @placeholder="Descripcion" })
                                </div>
                                <div class="form-group">
                                    <label for="">Precio</label>
                                    @Html.TextBoxFor(m => m.Precio, new{ @class="form-control", @placeholder="Precio", @id="Precio", @min="0", @type="Number" })
                                </div>
                                <div class="form-group">
                                    <label for="">Cantidad</label>
                                    @Html.TextBoxFor(m => m.Cantidad, new{ @class="form-control", @placeholder="Cantidad", @id="Cantidad", @min="0", @type="Number" })
                                </div>

                                <div class="pt-3">
                                    <a href="@Url.Action("Index","Productos")" class="btn btn-danger pr-3" type="button"><i class="fa-solid fa-arrow-left"></i></a>
                                    <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        }
                    </div>
                </div>

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</div>
<script>
    const input = document.getElementById('Precio');

    const check = () => {
        if (!input.validity.valid) input.value = 0;
        if (+input.value < 0) input.value = 0;
    };

    input.addEventListener('input', check);
    input.addEventListener('blur', check);

</script>